
<div class="container">

  <h1>All Lists</h1>

  <ul>
    <% @lists.each do |list|%>
      <div class="card-product" >
        <div class="card-product-infos">
          <%= list.name %>
          <p><small><%= link_to "See bookmarks", list_path(list) %></small></p>
        </div>
      </div>

    <% end %>
  </ul>

  <%= link_to "Create new list", new_list_path %>
</div>
